<div class="app-container">
  <nav *ngIf="isAuthenticated" class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" routerLink="/GestorListas">TecWeb-Lists</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" routerLink="/GestorListas">GestorListas</a>
        </li>
      </ul>
      <div class="d-flex align-items-center justify-content-center mx-auto">
        <div *ngIf="!hasPaid && !showPaymentForm" class="premium-button">
          <button class="btn btn-primary btn-sm" (click)="subscribeToPremium()">Subscribe to Premium</button>
        </div>
        <div *ngIf="hasPaid" class="premium-text">
          <button class="btn btn-warning btn-sm" disabled>Premium</button>
        </div>
      </div>
      <div class="ml-auto">
        <button class="btn btn-danger" (click)="logout()">Logout</button>
        <div *ngIf="showLogoutConfirm" class="logout-confirm">
          <p class="small-text">Cerrar sesion?</p>
          <div class="button-group">
            <button class="btn btn-danger btn-sm" (click)="confirmLogout()">Si</button>
            <button class="btn btn-secondary btn-sm" (click)="cancelLogout()">No</button>
          </div>
        </div>
      </div>
    </div>
  </nav>
  <div class="payment-overlay" *ngIf="showPaymentForm">
    <app-payment (paymentSuccess)="onPaymentSuccess()" (paymentCancel)="onPaymentCancel()"></app-payment>
  </div>
  <router-outlet></router-outlet>
</div>